<div class="{{ block.type.handle ?? '' }} {{ block.blockColour ?? '' }}">
    <div class="stack">
        {% if block.text|length %}
            {{ block.text }}
        {% endif %}
    </div>
</div>
